
{% load static %}

<html lang="en">
    <head>
        <title>Diseño de APIs - Preguntas frecuentes</title>
        <link rel="stylesheet" href="{% static  '/css/main.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        <div class="container">
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card border-info h-40">
                        <div class="card-header bg-info text-white">
                            <h2><i class="fas fa-code"></i> Preguntas frecuentes (FAQ)</h2>
                        </div>
                        <div class="card-body">
                            <h4><i class="fas fa-question-circle"></i> ¿Qué lenguajes de programación utilizan?</h4>
                            <p>
                                Utilizamos una variedad de lenguajes de programación, incluyendo Python, JavaScript, Dart Java y C#. La elección del lenguaje depende del proyecto y las necesidades del cliente.
                            </p>
                            <br>
                            <h4><i class="fas fa-wrench"></i> ¿Ofrecen soporte después de la finalización del proyecto?</h4>
                            <p>
                                Sí, ofrecemos un período de soporte después de la finalización del proyecto para solucionar cualquier problema o realizar ajustes menores.
                            </p>
                            <br>
                            <h4><i class="fas fa-money-check-alt"></i> ¿Cómo se maneja el pago?</h4>
                            <p>
                                Aceptamos pagos a través de transferencia bancaria. Normalmente requerimos un depósito inicial antes de comenzar el trabajo, y el resto se paga después de la finalización del proyecto.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    

</html>