
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static  '/css/main.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>JAMC-AWMI</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-info h-40">
                    <div class="card-header bg-info text-white">
                        <h1><i class="fas fa-phone"></i>Política de Privacidad</h1>
                    </div>
                    <div class="card-body">
                        <h2>1. Introducción</h2>
                        <p>En JAMCAWMI, respetamos tu privacidad y nos comprometemos a protegerla. Esta política de privacidad explica qué información recopilamos, cómo la usamos y tus derechos en relación con ella.</p>
                                            
                        <h2>2. Información que recopilamos</h2>
                        <p>Podemos recopilar información personal, como tu nombre, dirección de correo electrónico y número de teléfono, cuando te pones en contacto con nosotros para solicitar nuestros servicios.</p>
                                            
                        <h2>3. Uso de la información</h2>
                        <p>Utilizamos la información que recopilamos para proporcionarte nuestros servicios y mejorarlos. No compartiremos tu información personal con terceros sin tu consentimiento.</p>
                                            
                        <h2>4. Seguridad</h2>
                        <p>Nos esforzamos por proteger tu información personal utilizando medidas de seguridad adecuadas.</p>
                                            
                        <h2>5. Tus derechos</h2>
                        <p>Tienes derecho a acceder, corregir o eliminar tu información personal en cualquier momento. Para hacerlo, por favor contáctanos a través de [correo electrónico/teléfono].</p>
                                            
                        <h2>6. Cambios en la Política de Privacidad</h2>
                        <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento. Cualquier cambio se publicará en esta página.</p>
                                            
                        <h2>7. Ley Aplicable</h2>
                        <p>Esta política de privacidad se rige por las leyes de Colombia.</p>
                                            
                        <p>Fecha de última actualización: 20 de Enero del 2024</p>

                    </div>
                    <div class="card-footer bg-info text-white">
                        <div class="row">
                            <div class="col-md-6">
                                <img  id="icon-pic" src="{% static 'images/logo6.jpg' %}" alt="Jamcawmi">
                                <p>Jamcawmi - Diseño de apps a tu medida</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>