
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="{% static  '/css/main.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>JAMC-AWMI</title>
</head>
<body>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-12">
                <div class="card border-info h-40">
                    <div class="card-header bg-info text-white">
                        <h1><i class="fas fa-phone"></i>Términos y Condiciones</h1>
                    </div>
                    <div class="card-body">
                        <h2>1. Introducción</h2>
                        <p>Bienvenido a JAMCAWMI. Esta página regula el uso de nuestros servicios de desarrollo de software, aplicaciones móviles y web. Al utilizar nuestros servicios, aceptas estos términos y condiciones en su totalidad.</p>
                                            
                        <h2>2. Servicios</h2>
                        <p>Ofrecemos servicios de desarrollo de software, aplicaciones móviles y web como un negocio independiente. Los detalles específicos de estos servicios se acordarán por separado en cada contrato de servicio.</p>
                                            
                        <h2>3. Contacto</h2>
                        <p>Para iniciar un proyecto o para más información, por favor contáctanos a través de nuestro WhatsApp +57 3107920538.</p>
                                            
                        <h2>4. Propiedad Intelectual</h2>
                        <p>Todos los derechos de propiedad intelectual del software, las aplicaciones móviles y las páginas web que desarrollamos para ti serán transferidos a ti una vez que el proyecto esté completo y se haya realizado el pago completo.</p>
                                            
                        <h2>5. Cambios en los Términos y Condiciones</h2>
                        <p>Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento. Cualquier cambio se publicará en esta página.</p>
                                            
                        <h2>6. Ley Aplicable</h2>
                        <p>Estos términos y condiciones se rigen por las leyes de Colombia.</p>
                                            
                        <p>Fecha de última actualización: 20 de Enero del 2024</p>

                    </div>
                    <div class="card-footer bg-info text-white">
                        <div class="row">
                            <div class="col-md-6">
                                <img  id="icon-pic" src="{% static 'images/logo6.jpg' %}" alt="Jamcawmi">
                                <p>Jamcawmi - Diseño de apps a tu medida</p>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>


</html>